* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d5ccf5;
    font-family: 'Inter', sans-serif;
}

.App {
    min-width: 500px;
    min-height: 500px;
    padding: 30px;
    margin-top: 40px;
}

.header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
}

form {
    margin-bottom: 30px;
}

.inputTask {
    width: 65vh;
    height: 6vh;
    border: none;
    padding: 15px;
    border-radius: 5px;
    border: 0.5px solid #3c096c;
    margin-right: 10px;
}

input:active {
    outline: none;
}

.addButton {
    background-color: #3c096c;
    width: 10vh;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.addButton:hover {
    cursor: pointer;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    font-size: 15px;
    height: 40px;
    border-bottom: 0.5px solid rgb(142, 154, 175, .5);
}

.noTodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 50px;
    opacity: 0.30;
    color: #3c096c;
}

.todoList {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .inputTask {
        width: 55vh;
        height: 6vh;
    }

    .addButton {
        width: 8vh;
        height: 6vh;
    }
}

@media only screen and (max-width: 576px) {
    .inputTask {
        width: 45vh;
        height: 5vh;
    }

    .addButton {
        width: 7vh;
        height: 5vh;
    }
}

@media only screen and (max-width: 450px) {
    .inputTask {
        width: 35vh;
        height: 5vh;
    }

    .addButton {
        width: 7vh;
        height: 5vh;
    }
}